<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul style="color:red" th:utext="${errorMessages}">
</ul>

<form method="POST" action="/posts/write" th:object="${form}">
    <ul th:if="${#fields.hasAnyErrors()}" style="color:red">
        <li th:each="err : ${#fields.allErrors().stream().sorted()}"
            th:text="${err.split('-')[2]}"
            th:data-error-field="${err.split('-')[1]}"
        ></li>
    </ul>
    <div>
        <label for="title">제목</label>
        <div>
            <input type="text" th:field="*{title}" placeholder="제목을 입력해주세요." autoFocus>
        </div>
    </div>
    <div>
        <label for="content">내용</label>
        <div>
            <textarea th:field="*{content}" placeholder="내용을 입력해주세요."></textarea>
        </div>
    </div>
    <input type="submit" value="작성">
</form>

<script>
    const li = document.querySelector("ul li");
    const errorFieldName = li.dataset.errorField;

    if(errorFieldName.length > 0) {
        const form = document.querySelector("form");
        form[errorFieldName].focus();
    }
</script>
</body>
</html>